<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flipbox.skyline.procase" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.LandingPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProjectList"
            android:label="@string/title_activity_project_list" >
        </activity>
        <activity
            android:name=".Activity.ProjectDescription"
            android:label="@string/title_activity_project_description" >
        </activity>
        <activity
            android:name=".Activity.ProjectListDev"
            android:label="@string/title_activity_project_list_dev" >
        </activity>
        <activity
            android:name=".Activity.SignInActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity.util.PrototypeActivity"
            android:label="@string/title_activity_prototype" >
        </activity>
    </application>

</manifest>
